@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

/* share style */
.display-flex{
    display: flex;

}
.btn-primary{
    background-color: #FF900E;
    font-size:1.2rem;
    color: #FFFFFF;
    padding: 20px 25px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
.btn-primary1 {
    background-color: #FF900E;
    font-size: 1.2rem;
    color: #FFFFFF;
    padding: 20px 25px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    display: inline-block; 
    text-align: center;
    
}


main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;

}
/* dark-02 */
.text-gray{
    color: #424242;


}

/* dark-03 */
.text-light-gray{

    color: #727272;

}


.navbar{
    justify-content: space-between;
    align-items: center;

}
.nav-links{
   

    
}
.brand{
    font-weight: bold;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    

}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    
    
}
.navbar, .banner{

    max-width: 1440px;
    margin: 0 auto;


}
/* banar related style */
.banner-containt{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    

}
/* banar related style */
.banner-title{
    font-size: 4.8rem;
    font-weight: 700;
}
.banner-despriction{

    font-weight: 855;
    color: #727272;
}
.img-s{
    width: 100%;
}
/* feature style */
/* responsive media    */
.teams{
    align-items: center;
    gap: 20px;
}
/* 
.despricption{
    max-width: 537px;
    font-size: 1.25rem;
    color: #727272;
} */

.our-fetures{
    margin-left: 130px;
    max-width: 530px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
#feature-title{
   
    font-size: 2.81rem;
}
.f-t{
    color: #FF900E;;

}
#our{
    color: #131313;
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    margin: auto;
    align-items: center;
    justify-content: center;

    
    
}
.fact-driscription {
    max-width: 540px;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.facts-container
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
 
}
.fact-name {
    font-size: 1.25rem;
}
.despricption{
    color: #727272;
    max-width: 530px;
    margin-right: auto;
    font-size: 1.2rem;
}
.section-title{
     font-size: 2.81rem;


}
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;

}
.sponsors-companys{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
}
.sponsors-companys img{

    filter: grayscale(100%);
}
@media screen and (max-width:576px){
    .navbar, .nav-links{
        flex-direction: column;
    }
    
    .team-img-container,  
    .facts-container,
    .sponsors-companys
    {
        grid-template-columns: repeat(1,1fr);

    }
    .sponsors-companys{
        gap: 50px;
        justify-content: center;
    }
 .teams {
    margin-left: 20px;
    flex-direction: column;
 }
 .our-fetures{
    margin-left: 50px;
 }
 .facts-container{
    justify-items: center;
    gap: 24px;

 }
}

@media screen and (min-width: 576px) and (max-width:992px){
    .teams
    {
        flex-direction: column;
    }
    .our-fetures{

        margin: 5opx auto;
    }
    .sponsors-companys{
        display: grid;
        grid-template-columns: repeat(3.1fr);
        gap: 30px;
    }

    
}